<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>include</title>
</head>
<body>
	<%- include header %>
	<section style="height:200px;background:blue;"></section>
	<%- include footer %>
</body>
</html>